<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font-awesome/css/all.min.css" />
  </head>
  <body>
    <div class="grid grid-cols-layout gap-4">
      <div class="bg-white border-gray-200 border shadow-xl p-2 mt-4 ml-4 col-start-2">
        <img src="/assets/profile.jpg" />
        <h2 class="font-light text-2xl">{{ site.title }}</h2>
        
        <a href="/">Home</a>
        <a href="/blog/">All Posts</a>
        <a href="/about/">About</a>
        <a href="/uses/">Uses</a>
        <a href="/contact/">Contact</a>
      </div>
      <div class="row-span-2">
        <section class="pt-4 pr-4">
          {{ content }}
        </section>
        <footer class="mt-4">
          &copy; {{ site.title }} {{ site.time | date: '%Y' }}
        </footer>
      </div>
    </div>
  </body>
</html>